{% extends 'base.html' %}
{% block content_main %}

<div class="center-page">
<p style="text-align: center">A review of your previous games</p>
{% for game_id in review_table %}
<div id="board_{{game_id}}"></div>
{% endfor %}
</div>
{% csrf_token %}
<script>
$(document).ready(function(){
    {% for game_id in review_table %}
    $("#board_{{game_id}}").load("board", {csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").attr("value"), "admin": true, "game_id": {{game_id}}, "show_message" : false });
    {% endfor %}
});
</script>
{% endblock %}