{% extends 'base.html' %}
{% block content_main %}
<script>
    $(document).ready(function(){
        $("#board_preview").load("board_gif?game_id={{prev_game_id}}", {csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").attr("value")});
    });
</script>
<style>
li {
    display: inline-block;
}
body {
    overflow: auto;
}
</style>

<div class="center-page" >

<div id="board_preview" style="max-height: 1000px; max-width:500px; margin-top:350px; text-align: center"></div>
<p style="text-align: center">You and your teammates covered {{cells_covered}} out of the maximum of {{max_covered}} cells</p>    
<h3>Team Performance Questionnaire:</h3>
<h5>From 1 (Strongly Disagree) to 10 (Strongly Agree)</h5>
<form action="game" method="POST">
<input name="game_id" value={{game_id}} hidden>
<input name="command" value="Join Session" hidden>
<input name="prev_game_id" value={{prev_game_id}} hidden>
{% csrf_token %}
{{questionnaire_form}}
<div style="text-align: center">
        <input type="submit" value="Next round">
</div>

</form>

</div>


{% endblock %}