{% extends 'base.html' %}
{% block content_main %}
<h2 style="text-align: center">Welcome to Coverage Maximization Game</h2>
<h3 style="text-align: center">Text Instructions:</h3>

<div style="border-style: groove; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 16px; width:fit-content; height: fit-content; margin:auto; line-height: 30px; padding: 10px">
        1. Players in this game are represented by tokens  <img src="static/tokens/token3.png" align=middle style="padding-left:0.5em">
        <br>2. You control the token with a lock on it 
        <div style="display: inline-block; padding-left: 0.5em">
                <img src="/static/tokens/player.png" style="position:absolute; z-index:2; margin: 6px 13.5px" align=middle><img src="/static/tokens/token8.png" style="position: relative; z-index:1" align=middle>
        </div>
        <br>3. Each player's agent cover tiles in the surrounding (indicated by green tiles), except obstacles (black tiles)
        <br><img src="static/terminologies.PNG" style="width: 207px; height:179px; display:block; margin-left: auto; margin-right: auto">
        <br>4. If multiple agents are near each other, an overlap occurs as indicated by dark green tiles
        <br><img src="static/overlapping.gif" style="width: 156px; height:156px; display:block; margin-left: auto; margin-right: auto">
        <br>5. You and other players can only see tiles within <b>3 </b>ranges away
        <br><img src="static/fog.PNG" style="width: 300px; height:300px; display:block; margin-left: auto; margin-right: auto">
        <br>6. You can move your agent to any of the neighboring tiles (or stay in position), valid moves will be highlighted in yellow when you hover over them 
        <br><img src="static/highlight.PNG" style="width: 124px; height:124px; display:block; margin-left: auto; margin-right: auto">
        <br>7. <b>This is a cooperative game.</b> You and your teammates work together to cover as many coins as possible.
        <br>8. There are 4 rounds in this game. At the end of each round, you will be given a quick survey. 
        <br>9. Within a round, players are randomly chosen to move. When it is your turn, the texts 'Your Move' will be displayed.
</div>
<form action="game" method="POST" style="text-align: center">
    {% csrf_token %}
    <input type="submit" name = "command" value="Start Session"/>
</form>
{% endblock %}