{% extends 'base.html' %}
{% block content_main %}
<div>
    <h2>Admin Preview</h2>
    <h3>Players</h3>
    <table>
    <tr>
        <th>IP</th>
        <th>Name</th>
        <th>game_ids</th>
    </tr>
    {% for row in player_table %}
    
    <tr>
    {% for cell in row %}
    <td>{{cell|safe}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <h3>Games</h3>
    <table>
            <tr>
                <th>id</th>
                <th>map</th>
                <th>players</th>
                <th>turns</th>
                <th>settings</th>
                <th>average</th>
                <th>survey</th>
                <th>options</th>
            </tr>
            {% for row in game_table %}
            
            <tr>
            {% for cell in row %}
            <td>{{cell|safe}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
            </table>
    <h3>Sequences:</h3><br>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>players</th>
                <th>settings</th>
                <th>specifications</th>
                <th>actions</th>
            </tr>
        {% for row in sequence_table %}
        <tr>
        {% for cell in row %}
        <td>{{cell}}</td>  
        {% endfor %}
        {% with row.0 as id %}
        <td><a href='manage?test={{id}}'>Test</a> <a href='manage?del={{id}}'>X</a></td>
        {% endwith %}
        </tr>
        {% endfor %}
        <tr>
            <td>*</td>
            <td><input style="width:100%" name="add"></td>
            <td><input style="width:100%" name="players"></td>
            <td><input style="width:100%" name="settings"></td>
            <td><input style="width:100%" name="data"></td>
            <td><button type="submit">Add</button></td>
        </tr>
        </table>
    </form>
    <h3>Configurations</h3>
    {% with config_table.timer_enabled_true as timer_enabled_true %}
    {% with config_table.timer_enabled_false as timer_enabled_false %}
    <form method="POST">
        {% csrf_token %}
        <input type="radio" name="timer_enabled" value="true" {{timer_enabled_true}}>Enable Timer<br>
        <input type="radio" name="timer_enabled" value="false" {{timer_enabled_false}}>Disable Timer<br>
        <input type="input" name="snapshot_interval" value="{{config_table.snapshot_interval}}">
        <button type="submit" name="modify_config">Save Changes</button>
    </form>
    {% endwith %}
    {% endwith %}
    
    <form action="/download" method="post">
        {% csrf_token %}
        <button type="submit" name="file" value="db.sqlite3">Download Database</button>
    </form>
    
</div>
{% endblock %}